@import "reset";

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .8em;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .8em;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: .3em;
}

div {
  margin: 0;
  padding: 0;

}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 21px;
  background: lightgrey;
}

.content {
  padding: 20px 0;
  font-size: 0;
}

.main {
  width: 100%;
  margin-right: 5%;
  font-size: 16px;
}

nav {
  background-color: red;
  a {
    color: #800000;
    text-decoration: none;
    padding: 2em;
  }
}




p {
  margin-bottom: 1.1em;
  text-indent: 5%;
}

.pure-u-1-4 {
  border: 1px solid grey;
  height: 600px;
  display: inline-block;
  padding: 1em;
}

img {
  width: 100%;
  height: auto;
}

// .pure-g {
//   display: inline-block;
//   width: 240px;
// }





