@import "reset";

/*div{
  width:100%;
}*/

.wrap {
  margin:0 auto;
  max-width: 1200px;
  background-color:rgb(255,209,198);
  padding: 0 0 150px 0;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

a {
  color: #800000;
}


span{
  font-size:18px;
}

.side {
  width: 30%;
  color: #666;
  font-size: 14px;
}
.head{
  height:850px;
  position: relative;
  background-image:url("http://img3.wikia.nocookie.net/__cb20111117181828/fantendo/images/1/18/TripleMushroomsMKC.png");
  background-size:cover;
  background-color:rgba(255,166,144,1);
  background-position:center;
}
.head1{
  display:inline-block;
  margin-top:15%;
  height:250px;
  width:200px;
  padding:10px;
  margin-left:5%;
  border-radius:40px;
  font-size:14px;
  box-shadow:0px 0px 25px rgb(25,0,0);
  background-image:radial-gradient(rgba(255,190,168,0.8),rgba(102,23,0,0.8));
}

.title{
  font-size:28px;
  font-style:italic;
  padding-bottom:0px;
  margin:0;
  margin-bottom: 5px;
  line-height:100%;
}
.head1 > p{
  color:white;
  text-shadow:0px 0px 3px black;
  padding:5px;
}

.test{
  width:80%;
  margin-right:10%;
  margin-left: 10%;
  position: relative;
  float:left;
  box-shadow: inset 0px 0px 10px white;
  background-color:rgb(255,113,108);
}
.test > div{
  width:49%;
  height:auto;
  margin:0 auto;
}

.test1{
  height:50px;
  font-size:14px;
  width:80%;
  line-height:1;
  padding-right:20px;
  color:rgba(102,23,0);
}


.testimonial{
  position: absolute;
  left:10%;
  top:5px;
}

.testimonial1{
  position: absolute;
  bottom:10px;
  left:10%;
  height:60px;
  margin-right: 20px;
}
.testimonial2{
  position: absolute;
  left:60%;
  top:5px;
}

.testimonial3{
  position: absolute;
  bottom:0;
  left:60%;
  height:60px;
}

.toadpic, .bowser, .peach{
  width:60px;
  height:60px;
  background-image:url("http://img3.wikia.nocookie.net/__cb20111115195110/mario/de/images/a/ae/NSMBW_Artwork_Toad.png");
  background-size:54px auto;
  background-position:top-center;
  background-color:grey;
  border-radius:50%;
  border:2px solid grey;
  display:inline-block;
  margin:5px;
}
.bowser{
  background-image:url("http://images.wikia.com/fantendo/images/archive/9/98/20110731164035!Bowser_NSMBW.png");
  background-size:90px auto;
}
.peach{
  background-image:url("http://images2.fanpop.com/image/photos/9300000/Mario-Party-8-peach-and-daisy-9349959-1044-1580.jpg");
  background-size:90px auto;
  background-position:-25px 0px;
}
.plant{
  width:60px;
  height:60px;
  position: absolute;
  top:75px;
  left:50%;
  background-size:54px auto;
  background-position:top-center;
  background-color:grey;
  border-radius:50%;
  border:2px solid grey;
  display:inline-block;
  margin:5px;
  background-image:url("http://img4.wikia.nocookie.net/__cb20121119025023/mario/images/c/c9/Piranha_Plant,_New_Super_Mario_Bros._U.png");
  background-position:0px 10px;
}

h2{
  text-align:center;
  margin:10px;
  font-size:20px;
}
